<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <input type="text" placeholder="user" #usNm>
      <input type="password" placeholder="password" #pass>
      <input type="button" class="btn btn-info" value="login" (click)="login(usNm.value,pass.value)">
    </div>
  </div>
  <div class="row">
    <a [routerLink]="['forgot']" >Forgot password</a>
  </div>
</div>

<a (click)="child1()"  >child1</a>
<a (click)="child2()" >child2</a>
<router-outlet></router-outlet>