<div class="container mt-5 w-50 bg-light rounded">
  <div class="col-md-12">
    <h4 class="text-center text-dark mt-1">Sign up From</h4>
    <form [formGroup]="signUpForm" class="p-3">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" formControlName= "firstName"
        [ngClass]="{errorClass:(signUpForm.controls.firstName.invalid &&(signUpForm.controls.firstName.touched || signUpForm.controls.firstName.dirty))}">
        <p style="color:red;" *ngIf="signUpForm.controls.firstName.invalid && signUpForm.controls.firstName.touched">Please enter a first name</p>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" formControlName= "lastName" 
        [ngClass]="{errorClass:(signUpForm.controls.lastName.invalid &&(signUpForm.controls.lastName.touched || signUpForm.controls.lastName.dirty))}">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter email" formControlName= "email"
        [ngClass]="{errorClass:(signUpForm.controls.email.invalid &&(signUpForm.controls.email.touched || signUpForm.controls.email.dirty))}">
      </div>
      <div class="form-group">
        <input type="password" maxlength="10" class="form-control" placeholder="Password" formControlName= "pass" 
        [ngClass]="{errorClass:(signUpForm.controls.pass.invalid &&(signUpForm.controls.pass.touched || signUpForm.controls.pass.dirty))}">
      </div>
      <button type="submit" class="btn" (click)="sumbitData()"
      [disabled]="signUpForm.invalid">Submit</button>
    </form>
  </div>
</div>