<!-- <app-first></app-first>
<app-small-firsl></app-small-firsl> -->
<div>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
            </div>
            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://www.codekul.com/img/CODEKOOL-min.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <app-bt-card></app-bt-card>
        </div>
        <div class="col-md-3">
            <app-bt-card></app-bt-card>
        </div>
        <div class="col-md-3">
            <app-bt-card></app-bt-card>
        </div>
        <div class="col-md-3">
            <app-bt-card></app-bt-card>
        </div>
    </div> -->
    <div>
        <!-- <app-data-binding></app-data-binding> -->
        <!-- <app-inter-comp></app-inter-comp> -->
        <!-- <app-viewchild></app-viewchild> -->
        <!-- <app-directive></app-directive> -->
        <!-- <app-sampledirective></app-sampledirective> -->
        <!-- <app-life-cycle *ngIf="isVs" [myDt]="this.title"></app-life-cycle>
          <div class="row">
            <div class="col-md-12">
              <input type ="button" class="btn" value="ok" (click)="onClick()">
            </div>
          </div> -->
        <!-- <app-pipes></app-pipes> -->
        <!-- <nav>
            <a [routerLink]="['employeelist']" routerLinkActive ="active">employeelist component</a>
            <a [routerLink]="['employeedetails']" routerLinkActive ="active"> employeedetails component</a>
          </nav> -->
          
          <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#">NBP</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['employeelist']" routerLinkActive ="active">Employeelist</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['employeedetails',unNm]" routerLinkActive ="active">employeedetails</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['forgo']" routerLinkActive ="active">Forgot</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['services']" routerLinkActive ="active">services</a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['reactiveform']" routerLinkActive ="active">Reactive form</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['templatedrivenform']" routerLinkActive ="active">Template-driven form</a>
                  </li>
                </ul>
              </div>
            </nav>
        <router-outlet></router-outlet>
    </div>
</div>