<!-- <app-first></app-first>
<app-small-firsl></app-small-firsl> -->
<div class="container">
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
            </div>
            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://www.codekul.com/img/CODEKOOL-min.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <app-bt-card></app-bt-card>
        </div>
        <div class="col-md-3">
            <app-bt-card></app-bt-card>
        </div>
        <div class="col-md-3">
            <app-bt-card></app-bt-card>
        </div>
        <div class="col-md-3">
            <app-bt-card></app-bt-card>
        </div>
    </div> -->
    <div>
        <!-- <app-data-binding></app-data-binding> -->
        <!-- <app-inter-comp></app-inter-comp> -->
        <!-- <app-viewchild></app-viewchild> -->
        <!-- <app-directive></app-directive> -->
        <!-- <app-sampledirective></app-sampledirective> -->
        <!-- <app-pipes></app-pipes> -->
        <!-- <nav>
            <a [routerLink]="['employeelist']" routerLinkActive ="active">employeelist component</a>
            <a [routerLink]="['employeedetails']" routerLinkActive ="active"> employeedetails component</a>
          </nav> -->
        <router-outlet></router-outlet>
    </div>
</div>