<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="mt-5 text-white bg-info rounded w-25" style="list-style-type:square;margin: 0 auto;">
        <li style="margin-left: 75px;" *ngFor= "let name of fruitList">{{name}}</li>
      </ul>
    </div>
  </div>
  <!-- view for get method  -->
  {{joke}}

  <h1>post()</h1>
    <div class="col-md-12">
      <h4>Signup Form</h4>
      <form [formGroup]="postDataForm">
        <div class="form-group">
          <input type="text"  placeholder=" name" formControlName="name" >
        </div>
        <div class="form-group">
          <input type="text" placeholder="job" formControlName="job" >
        </div>
        <button class="btn btn-primary" (click)="submitPostData()" >submit</button>
      </form>
    </div>
</div>