<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/08/12/15/29/hintersee-3601004_960_720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">hintersee-bergsee-mountains-ramsau</h5>
    <p class="card-text">The area of Hintersee Lake and Ramsau are among the most picturesque in the Bavarian Alps. Artists and novelists discovered both sites in the 1800s and, later, film-makers chose this area as an idyllic setting for alpine majesty and pastoral romance.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
